/* ======== COMMON STYLES ======== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


button {
    cursor: pointer;
}

button:hover,
button:focus {
    color: #4D5AE5;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {    
    padding-left: 16px;
    padding-right: 16px;
}

/* ======== /COMMON STYLES ======== */


/* ======== HEADR MOBILE STYLES ======== */
@media screen and (min-width: 480px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.menu {
    display: none;
}

.contacts {
    display: none;
}

.page-header {
    padding-top: 11px;
    padding-bottom: 16px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotype {
    display: flex;    
    align-items: center;    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-headr {
    color: #2e2f42;
}

.mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-open-btn-icon {
    fill: #2f2f37;
}



/* ======== /HEADR MOBILE STYLES ======== */

/* ======== HEADR MOBILE MENU STYLES ==== */




/* ======== /HEADR MOBILE MENU STYLES ==== */



/* ======== HEADR TABLET STYLES ======== */




/* ======== /HEADR TABLET STYLES ======== */



/* ======== HEADR DESKTOP STYLES ======== */



/* ======== /HEADR DESKTOP STYLES ======== */




